<div [class]="loaderClass">
  <div class="mf-loader">

    <!-- Spinning rings + logo -->
    <div class="mf-loader__ring-wrap">
      <div class="mf-loader__ring mf-loader__ring--outer"></div>
      <div class="mf-loader__ring mf-loader__ring--inner"></div>
      <div class="mf-loader__logo">
        <img src="assets/images/new-logo (1).png" alt="Sparkshopwear" draggable="false">
      </div>
    </div>

    <!-- Brand name shimmer -->
    <p class="mf-loader__brand">SPARKSHOPWEAR</p>

    <!-- Bouncing dots -->
    <div class="mf-loader__dots">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
</div>
